div.node{
    position: absolute;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;

    text-align: center;
    line-height: 32px;

    cursor: move;
}

div.node.range {
    /*box-shadow: 0px 0px 0px 170px rgba(0, 0, 0, 0.1);*/
}

div#positioning_container_div {
    cursor: crosshair;
    position: relative;
    overflow: hidden;
}

div.coordinate-box {
    position: fixed;
    display: none;
    text-align: left;
    font-size: 12px;
    padding: 2px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.5)
}

p.coordinate {
    padding: 0px;
    margin: 0px;
}

p.coordinate.coordinate-x::before {
    content: "x: ";
}

p.coordinate.coordinate-y::before {
    content: "y: ";
}