div#widgets {
    width: 100%;
    height: 100vh;
    min-height: 1000px;
}

div.draggable {
    border: solid;
    border-width: 1px;
    border-color:rgba(0,0,0,0.1);
    padding: 0px 0px 10px 0px;

    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;

    position: absolute;
}

div.draggable h2 {
    cursor: move;
    margin-top: 0px;
    padding-right: 20px;

    background: url(../img/window.png) no-repeat right;
    background-size: 24px 16px;
    background-color:rgba(0,0,0,0.1);
    color: #001e82;

    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}